.blue{
  background-color: rgba(0, 0, 255, 0.75);
  border: thick solid blue;
}
.green{
  background-color: rgba(0, 255, 0, 0.75);
  border: thick solid green;
}
.red{
  background-color: rgba(255, 0, 0, 0.75);
  border: thick solid red;
}
.white{
  background-color: rgba(255, 255, 255, 0.75);
  border: thick solid white;
}
.grey{
  background-color: rgba(127, 127, 127, 0.75);
  border: thick solid grey;
}
.black{
  background-color: rgba(0, 0, 0, 0.75);
  border: thick solid black;
}
